*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px, 10px;
    margin: 2px;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    padding: 20px 50px;
    gap: 10px;
}
.flex-item {
    background-color: lightgray;
    flex: 1;
    justify-content: space-between;
}
td {
    background-color: lavenderblush;

}
